.markdown-content {
    max-width: 700px;
    margin: 0 auto;
    color: #083800;
    text-align: left;
    background: #fffbe9; 
    padding: 2em;
    border-radius: 12px;
}
  
.markdown-content h1, 
.markdown-content h2, 
.markdown-content h3 {
    color: #083800;
}
  
.markdown-content ul, 
.markdown-content ol {
    text-align: left;
    margin: 0 auto;
    display: inline-block;
}