---
// filepath: /c:/Users/zrosa/OneDrive - stevens.edu/astroArchive/thesisArchive/src/layouts/Layout.astro
const { title } = Astro.props;
import SideBar from '../components/sidebar.jsx';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body>
    <div class="grid-container">
      <div class="sidebar-left">
        <SideBar client:only="solid" />
        <slot name="left" />
      </div>
      <div class="main-content">
        <slot />
      </div>
      <div class="sidebar-right">
        <slot name="right" />
      </div>
    </div>
  </body>
</html>